$headerTopPadding-desktop: 67px;
$headerTopPadding-mobile: 24px;
$colorPrimary: #0d2a54;
$colorAccent-green: #30c690;
$colorAccent-orange: #ff9900;
$buttonTextColor: #ffffff;
$buttonBgColorEnabled: #ef4444;
$buttonBgColorPressed: #f87171;
$buttonBgColorHovered: #dc2626;
$buttonBgColorDisabled: #d0dbf1;
$mainBgColor: #faf8f6;
$paginationColor: #d0dbf1;
$paginationColor--active: #0d2a54;
$footerBgColor: #2b41b7;
